<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=srv-fis-1)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=Oracle)(SERVER = DEDICATED))); User Id=root; Password=root;" />
  </connectionStrings>
  <appSettings>
    <add key="link_ip_externo" value="https://api.ipify.org"/>
    <add key="Banco" value="srv-fis-1"/>
    <add key="Caminho_Log" value="C:\Temp\"/>
    <add key="Gerar_Log" value="1"/>
  </appSettings>
</configuration>